<nav class="navbar navbar-light bg-light">
    <form class="form-inline" name="editForm" #editForm="ngForm">
        <input class="form-control mr-sm-2"
               type="text"
               placeholder="Enter city name"
               id="city"
               #search
               [(ngModel)]="cityName"
               name="cityname"
               (input)="onSearchLocationWithEvent($event)"
               aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0"
                [disabled]="!editForm.valid"

                (click)="onSubmitDatabinding()"
                type="submit">
            Search
        </button>
        <button class="btn btn-outline-danger my-2 my-sm-0"
                (click)="onResetControls()"
                type="clear">
            Clear
        </button>
        <small class="danger"  *ngIf="search.dirty && !search.valid">
            {{'input dirty'}}
        </small>
    </form>
</nav>
<app-weather-today></app-weather-today>
<weather-list *ngIf="weatherForecastData" [WeatherForecastList]="weatherForecastData"></weather-list>
