<div class="list-group">
    <a [routerLink]="['/detail-report']" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ weather.weather[0].main }}</h5>
            <small>{{ weather.weather[0].description }}</small>
        </div>
        <p class="mb-1">Wind speed (meter/sec): {{ weather.wind.speed }}</p>
        <p class="mb-1">Temperature (celsius): {{ weather.main.temp }}</p>
        <p class="mb-1">Temperature (Fahrenheit): {{ ( weather.main.temp | temperatureConverter:'F') }}</p>
        <p class="mb-1"></p>
        <small>{{ weather.dt_txt | date:'medium' }}</small>
    </a>
</div>
