<div class="list-group">
  <a [routerLink]="['/detail-report']" class="list-group-item list-group-item-action flex-column align-items-start active">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Today in {{ data.name }}</h5>
      <small>{{ data.weather[0].description }}</small>
    </div>
    <p class="mb-1">Wind speed (meter/sec): {{ data.wind.speed }}</p>
    <p class="mb-1">Temperature (celsius): {{ data.main.temp }}</p>
    <p class="mb-1">Temperature (Fahrenheit): {{ ( data.main.temp | temperatureConverter:'F') }}</p>
    <p class="mb-1"></p>
    <small>{{ data.dt_txt | date:'medium' }}</small>
  </a>
</div>
